<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>EUNOIA</title>
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
<link th:href="@{/css/estilos.css}" rel="stylesheet" type="text/css">
</head>

<body>
<form th:object="${usuario}" class="formulario" th:action="@{/guardarUsuario}" method="post">
    
    <h1>Registrar Admin</h1>
     <div class="contenedor">
     
     <div class="input-contenedor">
         <i class="fas fa-user icon"></i>
         <input th:field="*{nombre}" type="text" placeholder="Nombre Completo">
    </div>
         
    <div class="input-contenedor">
        <i class="fas fa-user icon"></i>
         <input th:field="*{Id}" type="int" placeholder="DNI">
     </div>

     <div class="input-contenedor">
        <i class="fas fa-user icon"></i>         
        <input th:field="*{fechanacimiento}" type="date" placeholder="Fecha Nacimientos">
     </div>


         <div class="input-contenedor">
         <i class="fas fa-envelope icon"></i>
         <input th:field="*{email}" type="text" placeholder="Correo Electronico">
         
         </div>
         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input th:field="*{contraseña}" type="password" placeholder="Contraseña">
         </div>

         <input type="submit" value="Registrate" class="button">
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿Ya tienes una cuenta Admin?<a class="link" href="IngresoAdmin.html">Iniciar Sesion</a></p>
     </div>
    </form>rm>

</body>
</html>